@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1200px;

  --color-primary: #0e1112;
  --color-secondary: #696c6d;
  --color-grey: #484b4b;
  --color-accent: #eef7f9;

  --font-primary: "Playfair Display";
  --font-secondary: "Mulish";
}

html,
body,
:root {
  height: 100%;
}

body {
  @apply overflow-y-scroll xl:overflow-hidden text-primary font-secondary bg-white;
}

.container {
  @apply max-w-300 mx-auto px-3.75;
}

.h1 {
  @apply text-[54px] lg:text-[108px] font-primary font-bold capitalize leading-[120%] tracking-[-0.05em] mb-2;
}
